<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>againstfakenews.com - Business Intelligence For Startups</title>

 <!-- site metadata -->
 <meta name="description" content="againstfakenews.com is a solution for fake news detection. It uses a combination of natural language processing strategies for multi-language content analysis. againstfakenews.com is currently accepting signups for private beta.">
 <meta name="author" content="againstfakenews.com">
 <link rel="shortcut icon" href="/static/logo-mi.png">
 <link rel="image_src" href="/static/logo-mi.png">
 <link rel="canonical" href="index.html"/>

 <!-- Open Graph metadata -->
 <meta property="og:image" content="http://againstfakenews.com//static/logo-mi.png"/>
 <meta property="og:url" content="http://againstfakenews.com"/>
 <meta property="og:title" content="againstfakenews.com - Detecting fake news and disinformation"/>
 <meta property="og:description" content="againstfakenews.com is a solution for fake news detection. It uses a combination of natural language processing strategies for multi-language content analysis. againstfakenews.com is currently accepting signups for private beta."/>

<!-- Twitter metadata -->
<meta name="twitter:card" content="againstfakenews.com is a solution for fake news detection. It uses a combination of natural language processing strategies for multi-language content analysis. againstfakenews.com is currently accepting signups for private beta.">
<meta name="twitter:site" content="subserviceco">
<meta name="twitter:title" content="againstfakenews.com - Business Intelligence For Startups">
<meta name="twitter:description" content="againstfakenews.com is a solution for fake news detection. It uses a combination of natural language processing strategies for multi-language content analysis. againstfakenews.com is currently accepting signups for private beta.">
<meta name="twitter:creator" content="againstfakenews.com & Capsule">
<meta name="twitter:image:src" content="http://againstfakenews.com/static/logo-mi.png">
<meta name="twitter:domain" content="http://againstfakenews.com">


<link rel="stylesheet" href="/static/flat-ui/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="/static/flat-ui/bootstrap/css/bootstrap-responsive.css">
<link rel="stylesheet" href="/static/flat-ui/css/flat-ui.css">
<!-- Using only with Flat-UI (free)-->
<link rel="stylesheet" href="/static/common-files/css/icon-font.css">
<!-- end -->


<link rel="stylesheet" href="/static/ui-kit/ui-kit-header/css/style.css">
<!-- content -->
<link rel="stylesheet" href="/static/ui-kit/ui-kit-content/css/style.css">
<!-- blog -->
<link rel="stylesheet" href="/static/ui-kit/ui-kit-blog/css/style.css">
<link rel="stylesheet" href="/static/ui-kit/ui-kit-footer/css/style.css">
  <link href="/static/application-d9af7108cb102f5aa31b441b1bb351a2.css" media="all" rel="stylesheet" />
  <script src="/static/application-8c2a82c9cd47449724060ef4e8e0e6f3.js"></script>
  <meta content="authenticity_token" name="csrf-param" />
<meta content="qZbKMAmJHRtQrFJYkd2bXP2cM5VoHNJN/J6Bxpcnr3Y=" name="csrf-token" />
</head>
<body>

<script>
    $(function(){
        $(".element").typed({
        strings: [
            '"Donald Trump ends school bullying by closing schools." [FAKE]',
            'Fake news: a made-up story with an intention to deceive',
            '"Pope Francis endorses Trump for president." [FAKE]',
            'We use machine learning and natural language processing, to combat the fake news problem.'
        ],
		typeSpeed: 25, 		// type speed
		startDelay: 2200,  	// time before typing starts
		backSpeed: -10000,	// backspacing speed
		backDelay: 1200,	// time before backspacing
		loop: false,		// loop
		loopCount: false,	// false = infinite
        });
    });
</script>

<!-- --------------------------------------------------------- -->

<header class="header-23">
    <div class="container">
        <div class="row">
            <div class="navbar span12">
                <div class="navbar-inner">
                    <button type="button" class="btn btn-navbar"></button>
                    <a class="brand" href="index.html#"><span class="logo"><img alt="Logo" class="brand-logo" src="/static/logo-mi.png" /></span>againstfakenews.com</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav pull-right">
                            <li><a href="#">Home</a></li>
                            <li><a href="#features">Features</a></li>
                            <li><a href="#signup">Signup</a></li>
                            <li><a href="mailto:contact@againstfakenews.com">Contact</a></li>
                        </ul>
                        <ul class="subnav">
                            <li><a href="">Privacy</a></li>
                            <li><a href="mailto:contact@againstfakenews.com">Press</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="header-23-sub bg-midnight-blue">
    <div class="background">&nbsp;</div>
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="hero-unit">
                    <strong>Fake News detection engine for businesses</strong><br><br>
                    <span class="element"></span>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="content-33">
    <div class="container">
        <p class="lead">We want to make it easier for content hosts to stop disinformation and stop the spread of false claims.  More information coming soon.</p>
    </div>
</section>

<section id="features" class="content-4">
    <div class="container">
        <h3>againstfakenews.com helps you to make data driven decisions, faster.</h3>
        <div class="row features">
            <div class="span4">
                <img src="/static/common-files/icons/retina-ready-s@2x.png" alt="" width="117" height="104">
                <h6>Speak your language.</h6>
                <p>againstfakenews.com interprets natural language requests to make the information you need more accessible. It just works, no training required.</p>
            </div>
            <div class="span4">
                <img src="/static/common-files/icons/clock@2x.png" alt="" width="104" height="104">
                <h6>Predict the future.</h6>
                <p>Using artificial intelligence, againstfakenews.com will give you insight into what is likely to be a false claim, leveraging a vast knowledge base.</p>
            </div>
            <div class="span4">
                <img src="/static/common-files/icons/rocket@2x.png" alt="" width="101" height="101">
                <h6>Work with everyone.</h6>
                <p>againstfakenews.com is built for product managers and marketers, through to CFOs, CROs, and CEOs, allowing everyone to make better decisions.</p>
            </div>
        </div>
    </div>
</section>

<section class="blog-5">
    <div class="quote">
        <div class="container">
            <div class="row">
                <div class="span8 offset2">
                    againstfakenews.com will save my team hours of work every week, time otherwise spent on curating our articles and banning malicious witters.

                    <div class="author">Benjamin Bowen, Director of content at collaborative-news.com</div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="signup" class="content-8 v-center">
    <div>
        <div class="container">
            <h3>Early Access</h3>
            <div class="row">
                <div class="span6 offset3">
                    <p>We're almost ready, and soon we'll be distributing some free accounts to our first batch of private beta users.
                    </p>
                    <a class="btn btn-large btn-clear" href="">SIGN UP FOR PRIVATE BETA NOW</a>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="footer-7 ">
    <div class="container">
        <nav>
            <ul>
                <li><a href="index.html#">HOME</a></li>
                <li><a href="index.html#signup">SIGNUP</a></li>
                <li class="scroll-btn"><a href="index.html#" class="scroll-top fui-arrow-up"> </a></li>
                <li><a href="">PRIVACY</a></li>
                <li><a href="mailto:contact@againstfakenews.com">CONTACT</a></li>
            </ul>
        </nav>
    </div>
</footer>


<script src="/static/common-files/js/modernizr.custom.js"></script>
<script src="/static/common-files/js/easing.min.js"></script>
<script src="/static/common-files/js/jquery.svg.js"></script>
<script src="/static/common-files/js/jquery.svganim.js"></script>
<script src="/static/common-files/js/startup-kit.js"></script>
</body>
</html>
